@page "/addTrans"

@using CommerceProject.Models
@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Http

@inject IPeopleData _db
@inject IHttpContextAccessor httpContextAccessor
@inject ITransactionData _trans


<h4>Current User: @UserName</h4>

<h5>Insert new transaction</h5>
<EditForm Model="@newTransaction" OnValidSubmit="@InsertTrans">
    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />         @*conflicting tags, specify which component to use*@

    <InputNumber id="Amount"    @bind-Value="newTransaction.Amount" />
    <InputSelect id="Type"      @bind-Value="newTransaction.Type">
        <option value="@depositValue">Deposit</option>                     @*to use strings for option values, make private variables in the code section*@
        <option value="@withdrawalValue">Withdrawal</option>
    </InputSelect>
    <InputText id="Description" @bind-Value="newTransaction.Description" />
    <InputText id="Location"    @bind-Value="newTransaction.Location" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (trans is null)     @* if (people is null)*@
    {
        <p><em>Loading...</em></p>
    }
else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Processing Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Balance</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in trans)
                {
                <tr>
                    <td>@row.Account_Num</td>
                    <td>@row.Processing_Date</td>
                    <td>@row.Type</td>
                    <td>@row.Amount.ToString("0.##")</td>
                    <td>@row.Description</td>
                    <td>@row.Balance</td>
                    <td>@row.Location</td>
                </tr>
                }
            </tbody>
        </table>
    }


@code {
    private List<PersonModel> people;
    private List<TransactionModel> trans;
    private List<TransactionModel> accountInfo;
    private DisplayTransactionModel newTransaction = new DisplayTransactionModel();
    private string depositValue = "CR";
    private string withdrawalValue = "DR";

    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name; // gets current user's email

        //people = await _db.GetPeople();

        trans = await _trans.GetTransactions(UserName);
        accountInfo = await _trans.GetAccountNum(UserName);
    }

    private async Task InsertTrans()
    {
        DateTime now = DateTime.Now;
        int accNum = accountInfo[0].Account_Num;
        //float testBal = newTransaction.Amount + accountInfo[0].Balance;

        TransactionModel t = new TransactionModel
        {
            Account_Num = accNum,                   // 10010111 for trant@mail.com
            Processing_Date = now.ToString(),
            Type = chooseType(),
            Amount = roundAmount(),
            Description = newTransaction.Description,
            Balance = newBalance(),
            Location = newTransaction.Location
        };

        await _trans.InsertTransaction(t);              // add to database

        trans.Add(t);                                   // add to list without refreshing page (no longer works data sync issues)
        
        newTransaction = new DisplayTransactionModel();     // wipe out form model

    }

    private decimal roundAmount()
    {
        decimal rounded = Math.Round(newTransaction.Amount, 2);
        return rounded;
    }

    private decimal newBalance()              // need to get balance from account? dont include in transaction? set to account
    {
        if (trans.Count != 0)
        {
            decimal rounded = Math.Round(trans.Last().Balance + newTransaction.Amount, 2);
            return rounded;
        }
        else
        {
            TransactionModel t = accountInfo[0];

            decimal rounded = Math.Round(newTransaction.Amount + t.Balance, 2);
            return rounded;
        }
    }

    private string chooseType()
    {
        if (newTransaction.Type == "DR")
        {
            newTransaction.Amount *= -1;
            return "DR";
        }
        else
        {
            return "CR";
        }
    }

}
